*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

@media (max-width:885px) {
    .mensaje{
       font-size: 10px;
       width: 20px;
       height: 40px;
    }
   /*  .hola{
        width: 100px;
        height: 1000px;
    } */

   /* .palabras{
       width: 100%;
       height: 100%;
   }
   .ey{
       display: flex;
       width: 100%;
       height: 100%;
   } */
}

body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 26px;
}


.hola{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    z-index: 90;
    position: relative;
    box-shadow: 0 0 30px 6px rgb(53, 46, 46) ;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 880px;
    height: 604px;
}
header{
    margin: 10px 0;
    width: 100%;
    height: 54px;
    display:inline-flex;
    position: relative;
}
.titulo{
    margin: 0 10px;
    display:inline-block;
    width: 570px;
}
.titulo{
    font-weight: bold;
    color:rgb(243, 182, 67);
}


.palabras{
    width: 400px;
    height: 500px;
    margin-right: 450px;
    margin-top: 30px;
    z-index: 99;
    position: absolute;
   /*  background-color: black; */
}
.palabras .mensaje{
  width: 100%;
  height: 50%;
  color: rgb(255, 255, 255);
  text-shadow: 0px 7px 2px saddlebrown;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  padding:0 20px;
/*   background-color: yellow; */
}
.palabras .mensaje h1{
    margin: 30px 0;
    text-align:left;
}

.palabras nav{
    margin:60px 0;
   /*  background-color: green; */
    height:100px;
    width:100%;
    display: inline-block;
    position: absolute;
    justify-content: center;
}
.palabras nav ul{
  display:inline-flex;
 /*  background-color: red; */
  padding: 0 50px;
  margin:20px 0;
  width:100%;
  height:60px;
}
.palabras nav ul li{
    display: inline-block;
    /* background-color: yellow; */
    padding:18px 30px;
}
.palabras nav ul li a{
    text-decoration:none;
    text-align: center;
    padding: 4px 10px;
    color: black;
    border: solid 2px #330867;
    border-radius: 15px;
    font-size: 17px;
}
.palabras nav ul li a:hover{
    background-color:#330867 ;
    color: white;
    transition: 0.8s;
}

#registrate{
    background-color: #330867;
    color: white;
}
#registrate:hover{
    background-color: #1e053f;
    color: white;
}

nav{
    position: relative;
/*     background-color: yellow; */
    margin-right: 20px;
    width: 270px;
}
nav ul{
    list-style: none;
    margin: 0 -10px;
    width: 300px;
}
.normal li{
    position: relative;
    display: inline-block;
}
.normal li a{
    color: black;
    display: block;
    font-size: 17px;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;
    border-style: solid ;
    border-color:#330867;
}
.normal li a:hover{
    background-color:#330867;
    color: white;
    transition:0.5s;
}

/* Efecto */
/* main{
    margin-right: 450px;
    margin-top: -180px;
    position: absolute;
    background-color: yellow;
    width:340px; 
    height: 200px;
} */






.imagenes{
    z-index: 100;
    position: absolute;
    margin-top: 40px;
    display: block;
    margin-left: 420px;
    width: 400px;
    height: 500px;
}
.imagenes{
    animation: movimiento 2.5s linear infinite;
}

.imagenes img{
    width: 600px;
    display: block;
}
.imagenes .img1{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imagenes .img1 img{
    height: 100%;
    width: 100%;
}


/* .imagenes .img2{
    box-shadow: 0 8px 17px 1px rgb(93, 160, 137);
    position: absolute;
    width: 160px;
    height: 180px;
    margin-left: 240px;
}
.imagenes .img2 img{
    height: 100%;
    width: 100%;
}


.imagenes .img3 img{
    height: 100%;
    width: 100%;
}
.imagenes .img3{
    box-shadow: 0 8px 17px 1px rgb(93, 160, 137);
    margin-top: 320px;
    position: absolute;
    width: 160px;
    height: 180px;
}


.imagenes .img4 img{
    height: 100%;
    width: 100%;
}
.imagenes .img4{
    box-shadow: 0 8px 17px 1px rgb(93, 160, 137);
    margin-top: 320px;
    position: absolute;
    width: 160px;
    height: 180px;
    margin-left: 240px;
}


.imagenes .img5 img{
    height: 100%;
    width: 100%;
}
.imagenes .img5{
    box-shadow: 0 8px 17px 1px rgb(93, 160, 137);
    margin: 200px 150px;
    z-index: 100;
    position: absolute;
    width: 100px;
    height: 100px;
} */
.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
.whatsapp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    bottom: 30px;
    right: 30px;
    background-color: rgb(11, 190, 11);
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 12px 2px black;
    z-index: 100;
}
.whatsapp:hover{
  text-decoration: none;
  color: rgb(11, 190, 11);
  background-color: black;
}
